body{
    background-color: rgb(202, 151, 57);
}

header{
    background-color: rgb(228, 48, 17);
    padding: 10px 25px;
    margin: auto;
}

header > p{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(141, 29, 185);
}

h1{
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 230, 245);
}

h2{
    color: rgb(228, 48, 17);
    font-size: 40px;
    font-family: sans-serif;
}

footer{
    background-color: rgb(228, 48, 17);
    padding: 50px;
    margin: 0%;
}

img{
    width: 400px;
    height: 600px;
    padding-top: 50px;
}

.wrapper{
    margin: 100px 500px;
    width: 350px;
    box-sizing: border-box;
    margin: auto;
}














.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}
