
body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(255, 242, 62);
    padding: 10px 25px;
    margin: auto;
}

h1{
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(155, 67, 15);
}

h2{
    color: rgb(12, 95, 128);
    font-size: 60px;
    font-family: sans-serif;
}

h3{
    font-size: 40px;
    color: rgb(17, 163, 163);
}

footer{
    background-color: rgb(228, 48, 17);
    padding: 50px;
    margin: 0%;
}

img{
    width: 400px;
    height: 600px;
    padding-top: 50px;
}

a{
    color: rgb(3, 3, 3);
}

a.highlight:hover {
    color: #f71010;
    font-size: 22px;
  } 

.wrapper{
    margin: 100px 500px;
    width: 350px;
    box-sizing: border-box;
    margin: auto;
}














.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}
